::-webkit-scrollbar {
    display: none;
  }
  .wrapper__2ea32 {
    margin-left: 0;
  }
  .link__2ea32 {
    padding-left: 16px;
    border-radius: 0;
  }
  .mainContent-20q_Hp {
    padding-left: 8px;
  }
  .container_b15955,
  .container__91a9d {
    margin: 0;
    max-width: unset;
  }
  .layout__20a53,
  .layout__91a9d {
    border-radius: 0;
    padding: 0 16px;
  }
  .unread__2ea32 {
    z-index: 1;
  }
  .buttons__74017 {
    padding-right: 10px !important;
  }
  .typeThread__2ea32 .link__2ea32 {
    padding-left: 34px;
  }